#container{
	width:960px;
	margin:0px auto;
}
#left-column{
	width:700px;
	float:left;
	background:blue;
}
#right-column{
	width:260px;
	float:left;
	background:orange;
}



@media screen and (max-width:959px){
	#container{
		width:100%;
		
	}
	#left-colum{
		width:70%;
	}
	#right-colum{
		width:30%
	}
	img{
		width:100%;
	}
}
@media screen and (max-width:640px){
	#left-colum{
		width:100%;
	}
	#right-colum{
		width:100%;
	}
}
@media screen and (max-width:320px){
	#container{width:320px;}
}